#titulo {padding-top: 80px;}
#textoPost {text-align: justify;}

/* Especial Disney */
@font-face {
    font-family: 'disney';
    src: url('disney/disneyTituloFont.otf') format('opentype');
}

@font-face {
    font-family: 'disney2';
    src: url('disney/disney2.otf') format('opentype');
}