#fundo {background-color: rgb(37, 37, 37); color: white;}
#codigo {color: white;}
#menu {padding: 0%;}
#titulo {padding: 4% 0% 3% 0%; text-align: center;}
#textoPost {text-align: justify;}
#btnLink {text-decoration: none;}
#rodape {color: white; padding: 23px 0px 10px 0px;}