<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../anexos/icons/logoTit.png">
    <link rel="stylesheet" href="../estilo.css">
    <title>UB Social</title>
</head>
<body>
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar rounded-bottom fixed-top navbar-expand-lg navbar-light bg-light shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html"><img src="../anexos/icons/logo.png" class="d-inline-block align-text-top" id="logo"> UB Social</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../sobre.html">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link" href="../livros.html">Livros</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <!--
            REPOSITÓRIO: https://github.com/matheusbattisti/curso_angular_yt
            VER AULA #17
        -->
        <div class="col-sm-12" id="titulo">
            <h1>Angular</h1>
            <h6><strong>Framework Angular, teoria e prática</strong><br><br><span class="badge bg-warning text-dark">Resumo em construção</span></h6>
            <a href="../index.html" class="btn btn-link text-decoration-none">Voltar</a>
        </div>

        <div class="col-sm-12">
            <h4>Criar projeto:</h4>
            <span class="text-muted">Instalação: <i>sudo apt install nodejs npm && sudo npm install -g @angular/cli</i></span>
            <ol>
                <li>Criar projeto: <span class="text-muted">ng new nomeProjeto</span></li>
                <li>Executar projeto: <span class="text-muted">ng serve</span></li>
            </ol>

            <br><h4>Estrutura:</h4>
            <ul>
                <li>node_modules: <span class="text-muted">Dependências do projeto</span></li>
                <li>src: <span class="text-muted">Códigos da aplicação</span>
                    <ul>
                        <li>app: <span class="text-muted">Onde ficam componentes (Compostos por <i>.ts</i> (Controller e Model), <i>.html</i> (View), <i>.css</i> e testes (<i>.spec.ts</i>)), services, etc</span>
                            <ul>
                                <li>app.component.ts: <span class="text-muted">Configurações/programação do componente</span></li>
                                <li>app.component.spec.ts: <span class="text-muted">Testes do componente</span></li>
                                <li>app.component.html: <span class="text-muted">Templates visuais</span></li>
                                <li>app.component.css: <span class="text-muted">Estilo do componente específico</span></li>
                            </ul>
                        </li>
                        <li>index.html: <span class="text-muted">Html inicial, que redirecionará o home público</span></li>
                        <li>styles.css: <span class="text-muted">Estilo global, para todos os formulários</span></li>
                        <li>assets: <span class="text-muted">Onde ficam imagens estáticas e demais anexos</span></li>
                        <li>environments: <span class="text-muted">Ambientes da aplicação (Desenvolvimento, produção, etc)</span></li>
                    </ul>
                </li>
            </ul>

            <br><h4>Componentes:</h4>
            <ol>
                <li>Criar componente: <span class="text-muted">ng generate component components/nomeComponent</span>
                    <ul>
                        <li>Com isso, o mesmo será importado em 'app.module.ts'</li>
                    </ul>
                </li>
                <li>Importar o selector do componente em 'app.component.html': <span class="text-muted">&lt;app-nomeSelectorComponente&gt;&lt;/app-nomeSelectorComponente&gt;</span></li>
            </ol>

            <br><h4>Interpolação de dados:</h4>
            <p id="textoPost">Imprimir variáveis do 'ts' no 'html'. Isso ocorre via <span class="text-muted">{{ nomeVariavel }}</span>.</p>

            <br><h4>Compartilhar dados:</h4>
            <p id="textoPost">O <span class="text-muted">input</span> receberá, no componente filho, variável do componente pai.
            <ol>
                <li>Criar a variável, em 'app.component.ts', na class 'AppComponent'</li>
                <li>Criar a variável em 'ts' do componente, no 'OnInit'</li>
                <li>Referenciá-la, em 'app.component.html', com <span class="text-muted">&lt;app-nomeSelectorComponente [nomeVariavel]="nomeVariavel"&gt;&lt;/app-nomeSelectorComponente&gt;</span></li>
                <li>Inserir o 'Input' no import em 'ts' do componente</li>
                <li>Em 'html' do componente, a mesma pode ser referenciada por <span class="text-muted">{{ nomeVariavel }}</span></li>
            </ol>

            <br><h4>Diretivas:</h4>
            <p id="textoPost">Responsáveis por realizar ações diversas ao 'html' do componente, cuja sintaxe é <span class="text-muted">[ngNomeDiretiva]</span>. Entre muitas, tem-se a <i>ngStyle</i> (Estilos inline), <i>ngClass</i> (Atribui classes ao html).</p>

            <br><h4>Condicionais:</h4>
            <p id="textoPost">if-else no 'html', cuja sintaxe é <span class="text-muted">*ngIf</span>.</p>

            <br><h4>Eventos:</h4>
            <p id="textoPost">Gatilhos, como 'click', para execução de métodos advindos da classe, cuja sintaxe é <span class="text-muted">(click)="algumaFuncao()"</span>.</p>

            <br><h4>Emitir eventos:</h4>
            <p id="textoPost">O <span class="text-muted">output</span> receberá, no componente pai, evento do componente filho. Exemplo <span class="text-muted">(emit)="onEmit()"</span>.</p>
            <ol>
                <li>Criar, no 'ts' do componente filho, evento
                    <ul>
                        <li>Chamá-lo no 'html' do componente filho</li>
                    </ul>
                </li>
                <li>Inserir o 'Output' e 'EventEmitter' no import em 'ts' do componente filho (EventEmitter também, pois é evento, não somente o dado em si)</li>
                <li>Inserir evento no componente filho, referenciando-o acima com inicialização do mesmo em '@Output()' e após, no mesmo arquivo, criar função de chamada do mesmo</li>
                <li>Criar, no 'html' do componente pai, chamada do evento @Output() do filho
                    <ul>
                        <li>Criar, no 'ts' do componente pai, função de chamada do seu 'html'</li>
                    </ul>
                </li>
            </ol>

            <br><h4>Loops:</h4>
            <p id="textoPost">for no 'html', cuja sintaxe é <span class="text-muted">*ngFor="let item of items"</span>, para renderização de listas.</p>

            <br><h4>Interfaces:</h4>
            <p id="textoPost">Toda entidade possui interface, onde todas as propriedades do BD da entidade serão refletidas na interface, simbolizando assim as entidades no sistema. Ficam geralmente dentro de 'app/'. Cria-se manualmente, cujo padrão é '<span class="text-muted">NomeClasse.ts</span>'.</p>
            <ul>
                <li>Cria-se a interface</li>
                <li>Importá-la (import) no 'ts' do componente</li>
            </ul>

            <br><h4>Pipe operators:</h4>
            <p id="textoPost">Possibilita modificar strings no próprio 'html' do componente, dispensando códigos no 'ts' e 'css' do mesmo, cuja sintaxe é <span class="text-muted">{{ dado | algumPipeOperator }}</span>.</p>

            <br><h4>Two way data biding:</h4>
            <p id="textoPost">Alterar propriedades (props) do 'html' om preenchimento de inputs, cuja sintaxe é <span class="text-muted">[(ngMode)]="nomeImput"</span>, seguido da prop 'name' e seu mesmo valor.</p>
            <ol>
                <li>Importar (import) 'FormsModel' e em 'imports', em app.module.ts</li>
                <li>Informar ngModel nos inputs</li>
                <li>Informar props no 'ts' do componente</li>
            </ol>

            <br><h4>Services:</h4>
            <p id="textoPost">Onde ficam as requisições para APIs. Após o frontend tratado nos componentes, repassa-se ao método específico do service para tratar com o backend. A remoção visual fica no 'ts' do componente, o método no service fará a requisição ao backend (O exemplo abaixo foi feito tudo no service).</p>
            <ol>
                <li>Criar service: <span class="text-muted">ng generate service services/nomeService</span></li>
                <li>Importá-lo (import) no 'ts' do componente relacionado, modificando o constructor no mesmo</li>
                <li>Criar método no 'ts' do componente</li>
                <li>Criar ação no 'html'</li>
                <li>Criar método no service, importando (import) a interface ao mesmo e, após, relacionando-o ao método no 'ts' do componente</li>
            </ol>

            <hr>
            <br><h4>Projetos:</h4>
            <ol>
                <li>Introdução, componente, interpolação de dados, compartilhar(input) dados: <a href="https://github.com/mateusschwede/angular/tree/master/projeto1" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Diretivas, conficionais, eventos, emitir(output) eventos, loops: <a href="https://github.com/mateusschwede/angular/tree/master/projeto2" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Interfaces, Pipe operators, Two way data biding: <a href="https://github.com/mateusschwede/angular/tree/master/projeto3" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Services: <a href="https://github.com/mateusschwede/angular/tree/master/projeto4" class="text-decoration-none" target="_blank">Acesse</a></li>
            </ol>
        </div>
    </div>


<!--Rodapé-->
<div class="row">
    <div class="col-sm-12 text-center" id="rodape">
        <p>Elaborado por Mateus Schwede<br><small class="text-muted">ubsocial.github.io</small></p>
    </div>
</div>

</div>
</body>
</html>