<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../icons/logoTit.png">
    <link rel="stylesheet" href="../estilo.css">
    <title>UB Social</title>
</head>
<body>
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar rounded-bottom fixed-top navbar-expand-lg navbar-light bg-light shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html"><img src="../icons/logo.png" class="d-inline-block align-text-top" width="11pt"> UB Social</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../sobre/sobre.html">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link" href="../livros/livros.html">Livros</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center" id="titulo">
            <h1>Angular</h1>
            <h6><strong>Framework Angular, teoria e prática</strong></h6>
            <a href="../index.html" class="btn btn-link text-decoration-none mb-3">Voltar</a>
        </div>

        <div class="col-sm-12">
            <h4>Criar projeto:</h4>
            <span class="text-muted">Instalação: <i>sudo apt install nodejs npm && sudo npm install -g @angular/cli</i></span>
            <ol>
                <li>Criar projeto: <span class="text-muted">ng new nomeProjeto</span></li>
                <li>Executar projeto: <span class="text-muted">ng serve</span></li>
            </ol>
            <ul>
                <li><a href="https://github.com/mateusschwede/angular" class="text-decoration-none" target="_blank">Github do projeto</a></li>
            </ul>

            <br><h4>Estrutura:</h4>
            <ul>
                <li>node_modules: <span class="text-muted">Dependências do projeto</span></li>
                <li>src: <span class="text-muted">Códigos da aplicação</span>
                    <ul>
                        <li>app: <span class="text-muted">Onde ficam componentes (Compostos por <i>.ts</i> (Controller e Model), <i>.html</i> (View), <i>.css</i> e testes (<i>.spec.ts</i>)), services, etc</span>
                            <ul>
                                <li>app.component.ts: <span class="text-muted">Configurações/programação do componente</span></li>
                                <li>app.component.spec.ts: <span class="text-muted">Testes do componente</span></li>
                                <li>app.component.html: <span class="text-muted">Templates visuais</span></li>
                                <li>app.component.css: <span class="text-muted">Estilo do componente específico</span></li>
                            </ul>
                        </li>
                        <li>index.html: <span class="text-muted">Html inicial, que redirecionará o home público</span></li>
                        <li>styles.css: <span class="text-muted">Estilo global, para todos os formulários</span></li>
                        <li>assets: <span class="text-muted">Onde ficam imagens estáticas e demais anexos</span></li>
                        <li>environments: <span class="text-muted">Ambientes da aplicação (Desenvolvimento, produção, etc)</span></li>
                    </ul>
                </li>
            </ul>

            <br><h4>Componentes:</h4>
            <ol>
                <li>Criar componente: <span class="text-muted">ng generate component components/nomeComponent</span>
                    <ul>
                        <li>Com isso, o mesmo será importado em 'app.module.ts'</li>
                    </ul>
                </li>
                <li>Importar o selector do componente em 'app.component.html': <span class="text-muted">&lt;app-nomeSelectorComponente&gt;&lt;/app-nomeSelectorComponente&gt;</span></li>
            </ol>

            <br><h4>Interpolação de dados:</h4>
            <p id="textoPost">Imprimir variáveis do 'ts' no 'html'. Isso ocorre via <span class="text-muted">{{ nomeVariavel }}</span>.</p>

            <br><h4>Compartilhar dados:</h4>
            <p id="textoPost">O <span class="text-muted">input</span> receberá, no componente filho, variável do componente pai.
            <ol>
                <li>Criar a variável, em 'app.component.ts', na class 'AppComponent'</li>
                <li>Criar a variável em 'ts' do componente, no 'OnInit'</li>
                <li>Referenciá-la, em 'app.component.html', com <span class="text-muted">&lt;app-nomeSelectorComponente [nomeVariavel]="nomeVariavel"&gt;&lt;/app-nomeSelectorComponente&gt;</span></li>
                <li>Inserir o 'Input' no import em 'ts' do componente</li>
                <li>Em 'html' do componente, a mesma pode ser referenciada por <span class="text-muted">{{ nomeVariavel }}</span></li>
            </ol>

            <br><h4>Diretivas:</h4>
            <p id="textoPost">Responsáveis por realizar ações diversas ao 'html' do componente, cuja sintaxe é <span class="text-muted">[ngNomeDiretiva]</span>. Entre muitas, tem-se a <i>ngStyle</i> (Estilos inline), <i>ngClass</i> (Atribui classes ao html).</p>

            <br><h4>Condicionais:</h4>
            <p id="textoPost">if-else no 'html', cuja sintaxe é <span class="text-muted">*ngIf</span>.</p>

            <br><h4>Eventos:</h4>
            <p id="textoPost">Gatilhos, como 'click', para execução de métodos advindos da classe, cuja sintaxe é <span class="text-muted">(click)="algumaFuncao()"</span>.</p>

            <br><h4>Emitir eventos:</h4>
            <p id="textoPost">O <span class="text-muted">output</span> receberá, no componente pai, evento do componente filho. Exemplo <span class="text-muted">(emit)="onEmit()"</span>.</p>
            <ol>
                <li>Criar, no 'ts' do componente filho, evento
                    <ul>
                        <li>Chamá-lo no 'html' do componente filho</li>
                    </ul>
                </li>
                <li>Inserir o 'Output' e 'EventEmitter' no import em 'ts' do componente filho (EventEmitter também, pois é evento, não somente o dado em si)</li>
                <li>Inserir evento no componente filho, referenciando-o acima com inicialização do mesmo em '@Output()' e após, no mesmo arquivo, criar função de chamada do mesmo</li>
                <li>Criar, no 'html' do componente pai, chamada do evento @Output() do filho
                    <ul>
                        <li>Criar, no 'ts' do componente pai, função de chamada do seu 'html'</li>
                    </ul>
                </li>
            </ol>

            <br><h4>Loops:</h4>
            <p id="textoPost">for no 'html', cuja sintaxe é <span class="text-muted">*ngFor="let item of items"</span>, para renderização de listas.</p>

            <br><h4>Interfaces:</h4>
            <p id="textoPost">Toda entidade possui interface, onde todas as propriedades do BD da entidade serão refletidas na interface, simbolizando assim as entidades no sistema. Ficam geralmente dentro de 'app/'. Cria-se manualmente, cujo padrão é '<span class="text-muted">NomeClasse.ts</span>'.</p>
            <ol>
                <li>Cria-se a interface</li>
                <li>Importá-la (import) no 'ts' do componente</li>
            </ol>

            <br><h4>Pipe operators:</h4>
            <p id="textoPost">Possibilita modificar strings no próprio 'html' do componente, dispensando códigos no 'ts' e 'css' do mesmo, cuja sintaxe é <span class="text-muted">{{ dado | algumPipeOperator }}</span>.</p>

            <br><h4>Two way data biding:</h4>
            <p id="textoPost">Alterar propriedades (props) do 'html' om preenchimento de inputs, cuja sintaxe é <span class="text-muted">[(ngMode)]="nomeImput"</span>, seguido da prop 'name' e seu mesmo valor.</p>
            <ol>
                <li>Importar (import) 'FormsModule' e em 'imports', em app.module.ts</li>
                <li>Informar ngModel nos inputs</li>
                <li>Informar props no 'ts' do componente</li>
            </ol>

            <br><h4>Services:</h4>
            <p id="textoPost">Onde ficam as requisições para APIs. Após o frontend tratado nos componentes, repassa-se ao método específico do service para tratar com o backend. A remoção visual fica no 'ts' do componente, o método no service fará a requisição ao backend (O exemplo abaixo foi feito tudo no service).</p>
            <ol>
                <li>Criar service: <span class="text-muted">ng generate service services/nomeService</span></li>
                <li>Importá-lo (import) no 'ts' do componente relacionado, modificando o constructor no mesmo</li>
                <li>Criar método no 'ts' do componente</li>
                <li>Criar ação no 'html'</li>
                <li>Criar método no service, importando (import) a interface ao mesmo e, após, relacionando-o ao método no 'ts' do componente</li>
            </ol>

            <br><h4>Angular Router:</h4>
            <p id="textoPost">Navegação entre páginas da aplicação. Todo o processo pode ser criado automaticamente no início do projeto. Abaixo, seguem os passos manuais.</p>
            <ol>
                <li>Criar arquivo de routes 'app-routing.module.ts' na pasta 'app/'</li>
                <li>No arquivo de routes, importar (import) NgModule, RouterModule, Routes</li>
                <li>Definir routes em uma const, além de importar os componentes</li>
                <li>Importar (import) o 'AppRoutingModule' em 'app.module.ts'</li>
                <li>No 'app.component.html', informar <span class="text-muted">&lt;router-outlet&gt;&lt;/router-outlet&gt;</span> ao invés dos demais componentes desnecessários</li>
                <li>No Browser, seguindo o <i>projeto5</i> abaixo, informando 'url/list', mostrará o componente da listagem</li>
            </ol>

            <br><h4>Requisições HTTP:</h4>
            <p id="textoPost">Realizar requisições HTTP nos services. No <i>projeto6</i> será realizada simulação com API genérica <i>json-server</i>.</p>
            <ol>
                <li>Instalar json-server para simular API backend: <span class="text-muted">npm i json-server</span></li>
                <li>Na pasta raíz, criar arquivo 'db.json'</li>
                <li>Em 'package.json', parte de 'scripts', informar "server"</li>
                <li>Executar json-server: <span class="text-muted">npm run server</span>
                    <ul>
                        <li>Conforme <i>projeto6</i>, pode-se acessar API json-server em 'localhost:3000/animals'</li>
                    </ul>
                </li>
                <br>
                <li>Importar (import) HttpClientModule em 'app.module.ts'</li>
                <li>Conforme <i>projeto6</i>:
                    <ol>
                        <li>Fora trabalhado no componente 'list-render.component' (Requisição do component passar pelo service)</li>
                        <li>No 'ts' do component, informar método no constructor e 'getAnimals()'</li>
                        <li>No service 'list.service.ts', informar imports 'HttpClient', 'HttpHeaders' e 'Observable', e método 'getAll()'</li>
                    </ol>
                </li>
            </ol>

            <br><h4>Dynamic routes:</h4>
            <p id="textoPost">Carregar dado específico de API, onde o id do mesmo aparecerá na url.</p>
            <ul>
                <li>Conforme <i>projeto6:</i>
                    <ol>
                        <li>Cria-se o componente e informa-se sua route em 'app-routing.ts'</li>
                        <li>Cria-se o link de acesso no 'html' do list-render</li>
                        <li>Insere a propriedade 'id' na interface 'Animal.ts'</li>
                        <li>No 'ts' do item-detail, importar 'AtivatedRoute', interface 'Animal' e 'ListService'. Após, informar códigos no arquivo</li>
                        <li>Criar método 'getItem()' no service</li>
                        <li>No 'html' do item-detail, informar código</li>
                    </ol>
                </li>
            </ul>

            <br><h4>Exclusão de dados HTTP:</h4>
            <p id="textoPost">Realizar a remoção de dados via HTTP.</p>
            <ul>
                <li>Conforme <i>projeto6</i>:
                    <ol>
                        <li><span class="text-muted">(frontend)</span> No 'ts' do list-render, modificar método 'removeAnimal()'. Removerá visualmente.</li>
                        <li><span class="text-muted">(backend)</span> No service 'list.service.ts', modificar método 'remove()'. Enviará requisição <i>delete</i> de fato.</li>
                    </ol>
                </li>
            </ul>

            <hr>
            <br><h4>Projetos:</h4>
            <ol>
                <li>Introdução, componente, interpolação de dados, compartilhar(input) dados: <a href="https://github.com/mateusschwede/angular/tree/master/projeto1" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Diretivas, conficionais, eventos, emitir(output) eventos, loops: <a href="https://github.com/mateusschwede/angular/tree/master/projeto2" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Interfaces, Pipe operators, Two way data biding: <a href="https://github.com/mateusschwede/angular/tree/master/projeto3" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Services: <a href="https://github.com/mateusschwede/angular/tree/master/projeto4" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Angular Router: <a href="https://github.com/mateusschwede/angular/tree/master/projeto5" class="text-decoration-none" target="_blank">Acesse</a></li>
                <li>Requisições HTTP, Dynamic routes, Exclusão de dados HTTP: <a href="https://github.com/mateusschwede/angular/tree/master/projeto6" class="text-decoration-none" target="_blank">Acesse</a></li>
                <br>
                <li>Projeto prático (Moments): <a href="https://github.com/mateusschwede/angular/tree/master/projeto7" class="text-decoration-none" target="_blank">Acesse</a></li>
            </ol>

            <br><h4>Projeto prático (Moments):</h4>
            <p class="text-muted"><b>Ex funcionamento com API (Remove)</b>: No 'html' do component o usuário clica no botão Excluir. Isso levará ao método no 'ts' do mesmo component, que se comunicará com o método no 'ts' de seu Service. Esse se comunica diretamente com a API Backend.</p>
            <ol>
                <b>API Backend:</b>
                <li>Baixar a pasta da apiBackend e, dentro dela, instalar dependências: <span class="text-muted">npm install</span></li>
                <li>Gerar key: <span class="text-muted">node ace generate:key</span>
                    <ol>
                        <li>Criar cópia do arquivo '.env.example', depois renomeá-la em '.env'</li>
                        <li>Informar nova key neste arquivo</li>
                    </ol>
                </li>
                <li>Executar migrations: <span class="text-muted">node ace migration:run</span></li>
                <li>Executar API: <span class="text-muted">node ace serve</span></li>
                <li>Testar funcionamento, 'localhost:3333/api/moments', que deverá mostrar array 'data'</li>
                <li>No Postman, criar nova request para testar inserção:
                    <ul>
                        <li>Tipo 'Post'</li>
                        <li>URL: {{URL}}/moments <span class="text-muted">(Criar variável URL, sendo 'localhost:3333/api')</span></li>
                        <li>Em 'body', selecionar 'form-data', informar campos:
                            <ul>
                                <li>Key: <i>title</i>, Value: <i>para deletar</i></li>
                                <li>Key: <i>description</i>, Value: <i>alguma descricao</i></li>
                                <li>Key: <i>image</i> (Tipo 'file'), Value <i>1_intro.png</i></li>
                            </ul>
                        </li>
                        <li>Enviar requisição (Send), deverá retornar JSON com mensagem de sucesso</li>
                    </ul>
                </li>
                <li>Verificar, no browser, 'localhost:3333/api/moments' deverá retornar JSON com moment inserido</li>

                <br><b>Projeto Angular</b>
                <li>Criar projeto: <span class="text-muted">ng new moments</span>
                    <ul>
                        <li>Colar pasta com imagens, e outras imagens em 'assets'</li>
                    </ul>
                </li>
                <li>Alterar 'html' do app.component</li>
                <li>Criar componentes:
                    <ul>
                        <li>Header: <span class="text-muted">ng generate component components/header</span></li>
                        <li>Footer: <span class="text-muted">ng generate component components/footer</span></li>
                        <li>Página about: <span class="text-muted">ng generate component components/pages/about</span></li>
                        <li>Página home: <span class="text-muted">ng generate component components/pages/home</span></li>
                        <li>Página new-moment: <span class="text-muted">ng generate component components/pages/new-moment</span></li>
                        <li>Página moment: <span class="text-muted">ng generate component components/pages/moment</span></li>
                        <li>Página edit-moment: <span class="text-muted">ng generate component components/pages/edit-moment</span></li>
                        <li>Formulário moment-form: <span class="text-muted">ng generate component components/moment-form</span></li>
                        <li>Mensagens de feedback: <span class="text-muted">ng generate component components/messages</span>
                            <ul>
                                <li>Biblioteca de ícones 'fontawesome': <span class="text-muted">ng add @fortawesome/angular-fontawesome (Selecionar os 3 pacotes basic)</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Esqueleto e estilização:
                    <ol>
                        <li>Preencher 'html' dos componentes header, footer, new-moment, moment-form, pages/moment e pages/edit-moment</li>
                        <li>Programar 'ts' do moment-form e new-moment</li>
                        <li>Preencher CSS dos componentes header, footer, new-moment, pages/moment e pages/edit-moment</li>
                        <li>Preencher CSS geral, em styles.css e em app.component.css</li>
                    </ol>
                </li>
                <li>Configurar routes em 'app-routing.module.ts'</li>
                <li>Criar interfaces, services e configurar módulos:
                    <ol>
                        <li>Em 'app.module.ts', importar módulos HttpClientModule, FormsModule e ReactiveFormsModule</li>
                        <li>Em 'app/' criar interfaces 'Moment.ts', 'Comment.ts' e 'Response.ts' com seus códigos</li>
                        <li>Criar Service moment: <span class="text-muted">ng generate service services/moment</span></li>
                        <li>Criar Service comment: <span class="text-muted">ng generate service services/comment</span></li>
                        <li>Criar Service messages: <span class="text-muted">ng generate service services/messages</span></li>
                    </ol>
                </li>
                <li>Criar mensagens de feedback:
                    <ol>
                        <li>No 'html' do app.component, informar app-messages</li>
                        <li>No 'html' do componente messages, informar conteúdo</li>
                        <li>No 'ts' do componente messages, fazer imports e informar código restante</li>
                        <li>No 'css' do componente messages, informar códigos</li>
                        <li>No 'ts' do service messages, informar código restante</li>
                    </ol>
                </li>
                <li>Implementar ReactiveForms no moment-form ('html' e 'ts')</li>
                <li><span class="text-muted">(Add)</span> Enviar dados:
                    <ol>
                        <li>No 'html' do componente pai, new-moment, informar 'onSubmit'</li>
                        <li>No 'ts' do new-moment, informar 'onSubmit()', imports e restante</li>
                        <li>No 'ts' do moment-form, informar @Output, imports, informar método 'submit()'</li>
                        <li>Em 'environments.ts', informar URLs da API</li>
                        <li>Enviar dados para o Service 'moment', para após, inserir no BD:
                            <ol>
                                <li>No 'ts' do momment.service, fazer imports e restante do conteúdo
                                    <ul>
                                        <li><span class="text-muted">Pois no 'ts' do new-moment, criou-se método async que enviará os dados para esse método no service, que os enviará para a API Backend</span></li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>Fazer teste de submissão e verificar em 'Network', em 'Fetch/XHR' se a requisição ocorreu com sucesso</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Get)</span> Resgatar dados:
                    <ol>
                        <li>No 'ts' do home, informar código restante</li>
                        <li>No 'ts' do service moment, criar método que pegará dados da API Backend</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Search)</span> Pesquisar dados frontend:
                    <ol>
                        <li>No 'html' do componente home, informar form de busca</li>
                        <li>No 'ts' do componente home, informar método 'search()'</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Detail)</span> Visualizar dado específico:
                    <ol>
                        <li>No 'ts' do componente pages/moment, iniciar constructor e ngOnInit</li>
                        <li>No 'ts' do service pages/moment, criar método que pegará dado da API Backend</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Remove)</span> Remover dados:
                    <ol>
                        <li>No 'ts' do componente pages/moment, criar método removeHandler</li>
                        <li>No 'ts' do service moment, criar método removeMoment</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Edit)</span> Editar dados:
                    <ol>
                        <li>No 'ts' do componente pages/edit-moment, preencher método ngOnInit, demais pormenores e criar método editHandler</li>
                        <li>No 'ts' do service moment, criar método updateMoment</li>
                    </ol>
                </li>
                <li><span class="text-muted">(Other)</span> Add comentários:
                    <ol>
                        <li>No 'ts' do componente moment, criar método onSubmit e pormenores</li>
                        <li>No 'ts' do service comment, criar método createComment e pormenores</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>


<!--Rodapé-->
<div class="row">
    <div class="col-sm-12 text-center bg-black text-light pt-4 pb-3">
        <p>Elaborado por Mateus Schwede<br><small class="text-muted">ubsocial.github.io</small></p>
    </div>
</div>

</div>
</body>
</html>