<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../icons/logoTit.png">
    <link rel="stylesheet" href="../estilo.css">
    <title>UB Social</title>
</head>
<body>
<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar rounded-bottom fixed-top navbar-expand-lg navbar-light bg-light shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html"><img src="../icons/logo.png" class="d-inline-block align-text-top" width="11pt"> UB Social</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../sobre/sobre.html">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link" href="../livros/livros.html">Livros</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center" id="titulo">
            <h1>Signup/login/logout com Django</h1>
            <h6><strong>Gerenciamento de login com Django</strong></h6>
            <a href="../index.html" class="btn btn-link text-decoration-none mb-3">Voltar</a>
        </div>

        <div class="col-sm-12">
            <h4>Passo a passo</h4>
            <ol>
                <li>Criar pasta do projeto ('blog'): <i>django-admin startproject blog</i></li>
                <li>Na pasta do projeto, criar aplicação ('main'): <i>python3 manage.py startapp main</i></li>
                <li>Criar e editar arquivos, conforme códigos abaixo</li>
                <li>Criar Migrations: python3 <i>manage.py makemigrations</i></li>
                <li>Executar Migrations: <i>python3 manage.py migrate</i></li>
                <li>Executar projeto: <i>python3 manage.py runserver</i> <span class="text-muted">(Acessar <a href="http://localhost:8000" class="text-decoration-none" target="_blank">localhost:8000</a>)</span></li>
            </ol>

            <br>
            <h4>Arquivos</h4>
            
            <br>
            <p><b><span class="text-muted">(Editar array e inserir trechos)</span> blog/settings.py</b>:</p>
<small><pre><code>
INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    <b>'main',</b>
]

LOGIN_REDIRECT_URL='home'
LOGOUT_REDIRECT_URL='login'
</code></pre></small>

            <br>
            <p><b>blog/urls.py</b>:</p>
<small><pre><code>
from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    path('accounts/',include('django.contrib.auth.urls')),
    path('',include('main.urls')),
]
</code></pre></small>

            <br>
            <p><b>main/templates/registration/login.html</b>:</p>
<small><pre><code>
&lt;h1&gt;Login&lt;/h1&gt;
{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

&lt;form method="post"&gt;
    {% csrf_token %}
    {{form}}
    &lt;input type="submit"&gt;
&lt;/form&gt;
&lt;a href="{% url 'home' %}"&gt;Cancelar&lt;/a&gt;
</code></pre></small>

            <br>
            <p><b>main/templates/registration/register.html</b>:</p>
<small><pre><code>
&lt;h1&gt;Registrar&lt;/h1&gt;
{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

&lt;form method="post"&gt;
    {% csrf_token %}
    {{form}}
    &lt;input type="submit"&gt;
&lt;/form&gt;
&lt;a href="{% url 'home' %}"&gt;Cancelar&lt;/a&gt;
</code></pre></small>

            <br>
            <p><b>main/templates/home.html</b>:</p>
<small><pre><code>
&lt;h1&gt;UB Social&lt;/h1&gt;

{% if user.is_authenticated %}
    Usuário logado
    &lt;a href="{% url 'logout' %}"&gt;{{request.user}} (logout)&lt;/a&gt;
{% else %}
    Usuário não logado
    &lt;a href="{% url 'login' %}"&gt;Login&lt;/a&gt;
    &lt;a href="{% url 'register' %}"&gt;Register&lt;/a&gt;
{% endif %}
</code></pre></small>

            <br>
            <p><b>main/urls.py</b>:</p>
<small><pre><code>
from django.urls import path
from . import views

urlpatterns=[
    path('',views.home,name='home'),
    path('accounts/register/',views.register,name='register')
]
</code></pre></small>

            <br>
            <p><b>main/views.py</b>:</p>
<small><pre><code>
from django.shortcuts import render
from django.contrib import messages
from django.contrib.auth.forms import UserCreationForm

def home(request):
    return render(request,'home.html')

def register(request):
    form=UserCreationForm
    if request.method=='POST':
        regForm=UserCreationForm(request.POST)
        if regForm.is_valid():
            regForm.save()
            messages.success(request,'Usuário registrado!')
    return render(request,'registration/register.html',{'form':form})
</code></pre></small>
        </div>
    </div>


<!--Rodapé-->
<div class="row">
    <div class="col-sm-12 text-center bg-black text-light pt-4 pb-3">
        <p>Elaborado por Mateus Schwede<br><small class="text-muted">ubsocial.github.io</small></p>
    </div>
</div>

</div>
</body>
</html>